.menu{
    border:1px solid black;
    border-radius: 5px;
}

.top_level{
    background-color: darkred;
    border-bottom: 1px solid black;
    padding: 5px;
}

.controls{
    background-color: grey;
    border-top: 1px soild black;
}