.menu {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
}

.top_level {
  background-color: darkred;
  border-bottom: 1px solid black;
  padding: 5px;
}

.head {
  background-color: lightcoral;
  border-bottom: 1px solid black;
  padding: 5px;
}

.btn {
  float: right;
}

.controls {
  border-bottom: 1px solid black;
  padding: 5px;
}
