.menu {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
}

.top_level {
  background-color: red;
  border-bottom: 1px solid black;
  padding: 5px;
  overflow: auto;
}

.head {
  background-color: lightcoral;
  border-bottom: 1px solid black;
  padding: 5px;
  overflow: auto;
}

.btn {
  float: right;
}
